/* Container styles */

.container {
    margin-top: 30px;
    background: #f9fafb;
    width: 1440px;
    padding: 96px 0px;
}

.inner-container {
    margin: 0px 32px;
  }


/* Header styles */
.header {
    font-size: 44px;
    font-family: Arial;
    text-align: center;
    color: #101828;
    font-weight: 600;
}

/* Description styles */
.description {
    margin-top: 20px;
    color: #667085;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
}

/* Styles for buttons */

.buttons-container {
    gap: 15px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button1 {
    padding: 12px 20px;
    color: #344054;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #d0d5dd;
}

.button2 {
    color: #fff;
    background: #7f56d9;
    padding: 12px 20px;
    border: 1px solid #7f56d9;
    border-radius: 8px;
}